* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
 }
 body{
    color: aliceblue;
 }
 .banner {
    background-image: url("tms.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
 }
 .seccion {
    height: 520px;
    width: 100%;
    padding: 20px;
    align-items: center;
    justify-content:;
    color:white;
    text-align:;
    min-height: 600px;
  }
  h3{
    color:darkgray;
  }
  .contenido {
    max-width: 600px;
  }
  .r{
    background-color: red;
  }
  table{
    border: transparent;
    padding: 5px;
  }